.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "DCC-Ash";
  font-size: 2rem;
  font-weight: bold;
}

.quests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.lock {
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
}

.quest {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 1rem;
}

.questTitle {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "DCC-Ash";
}

.questContent {
  width: 90%;
  padding: 1rem;
}

.more {
  color: #000;
  font-weight: bold;
}
