@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "DCC-Ash";
  src: url("/fonts/DCC-Ash.woff2") format("woff2"),
    url("/fonts/DCC-Ash.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
